* {
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=6b668d&c2=b858a8&gt=l&gd=dtl
    */
    background: #6B668D;
    background: linear-gradient(135deg, #6B668D, #B858A8);
}

#panel {
    
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}
#ptop{
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=6b668d&c2=1a0316&gt=l&gd=dtl
    */
    background: rgba(107, 102, 141, 1.0);
    background: linear-gradient(135deg, rgba(107, 102, 141, 1.0), rgba(26, 3, 22, 1.0));
}

.elem{
    display: flex;
    width: 10%;
    align-items: center;
    gap: 10px;
}

.elem h3{
    /* font-weight: 500; */
}

.box {
    color: rgb(49, 10, 95);
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);

}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgba(86, 17, 107, 0.678);
    color: white;
    border-radius: 50%;
    font-weight: 500;
}

.bubble:hover{
    background-color: rgba(32, 3, 43, 0.678);
    cursor: pointer;
}